{% extends 'base.html' %}
{% load static %}

{% block content %}


        <section class="section single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area text-center">
                                <ol class="breadcrumb hidden-xs-down">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item active">Руководство Hyundai сомневается в целесообразности сотрудничества с Apple</li>
                                </ol>

                                <span class="color-orange"><a href="g" title="">Technology</a></span>

                                <h3>Руководство Hyundai сомневается в целесообразности сотрудничества с Apple</h3>

                                <div class="blog-meta big-meta">
                                    <small><a href="s" title="">21 July, 2017</a></small>
                                    <small><a href="https://www.facebook.com/" title="">Sitdikov Artem</a></small>
                                    <small><a href="#" title=""><i class="fa fa-eye"></i> 2344</a></small>
                                </div><!-- end meta -->

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->

                            <div class="single-post-media">
                                <img src="{% static 'portal/upload/car 01.jpg' %}" alt="" class="img-fluid">
                            </div><!-- end media -->

                            <div class="blog-content">
                                <div class="pp">
                                    <p>В начале января появилась информация, что Apple ведёт переговоры с Hyundai по поводу производства фирменного «яблочного» автомобиля.
                                        Эти слухи уже подтвердили официальные представители южнокорейской компании. Теперь же сообщается, что руководство Hyundai сомневается в перспективности этой затеи.</p>

                                    <h3><strong> </strong></h3>

                                    <p>Как сообщается Reuters, один из руководителей Hyundai, личность которого не раскрывается, подтвердил, что компания действительно ведёт переговоры с Apple, но не уточнил, на какой стадии они находятся. Вместе с тем он рассказал о сомнениях относительно целесообразности такого сотрудничества.

«Мы мучаемся над решением того, как это правильно сделать, и вообще стоит ли делать. Мы не та компания, которая занимается производством автомобилей для других. Кроме того, работа с Apple не всегда приносит отличные результаты. Apple — начальник. Они занимаются маркетингом, они делают свою продукцию, они создают свой бренд. Hyundai — тоже начальник. Это так не работает», — заявил собеседник Reuters.

Другой топ-менеджер Hyundai высказал журналистам Reuters аналогичные опасения, заявив, что технологические фирмы вроде Google и Apple хотят, чтобы они были похожи на Foxconn и просто выступали в роли производителя-подрядчика. При этом отмечает, что такое сотрудничество может поднять имидж бренда Hyundai или Kia, но в среднесрочной или долгосрочной они просто будут заниматься выпуском корпусов для автомобилей, в то время как Apple возьмёт на себя «мозги».

Третий источник отметил, что Apple хочет закупать компоненты у разных поставщиков, а затем использовать Hyundai для сборки окончательного автомобиля. В результате Hyundai может превратиться лишь в контрактного производителя для Apple и в глазах общественности перестанет быть самостоятельной компанией.

 </p>

                                    <p></p>

                                </div><!-- end pp -->

                                <img src="{% static 'portal/upload/car 02.jpg' %}" alt="" class="img-fluid img-fullwidth">


                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>




{% endblock %}