{% extends 'base.html' %}
{% load static %}

{% block content %}


        <section class="section single-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area text-center">
                                <ol class="breadcrumb hidden-xs-down">
                                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                                    <li class="breadcrumb-item"><a href="#">Blog</a></li>
                                    <li class="breadcrumb-item active">Написанную ИИ картину продали за почти полмиллиона долларов</li>
                                </ol>

                                <span class="color-orange"><a href="g" title="">Technology</a></span>

                                <h3>Написанную ИИ картину продали за почти полмиллиона долларов</h3>

                                <div class="blog-meta big-meta">
                                    <small><a href="s" title="">21 July, 2017</a></small>
                                    <small><a href="tech-author.html" title="">by Jessica</a></small>
                                    <small><a href="#" title=""><i class="fa fa-eye"></i> 2344</a></small>
                                </div><!-- end meta -->

                                <div class="post-sharing">
                                    <ul class="list-inline">
                                        <script src="https://yastatic.net/share2/share.js"></script>
                                        <div class="ya-share2" data-curtain data-shape="round" data-services="facebook,twitter"></div>
                                         <span class="down-mobile">Share on Facebook or Twitter</span>
                                    </ul>
                                </div><!-- end post-sharing -->
                            </div><!-- end title -->

                            <div class="single-post-media">
                                <img src="{% static 'portal/upload/03.jpg' %}" alt="" class="img-fluid">
                            </div><!-- end media -->

                            <div class="blog-content">
                                <div class="pp">
                                    <p>На аукционе Christie’s было продано первое произведение искусства, созданное не человеком, а искусственным интеллектом.
                                        За картину удалось выручить внушительные $432 500. Деньги достались коллективу французских художников Obvious, обучивших программу творчеству.
                                            Согласно официальной информации, это первая картина, написанная машиной. Её создала большая группа людей, состоящая из художников, программистов и энтузиастов.
                                        Что любопытно, вырученная за картину сумма досталась только художникам, поскольку они корректировали работу алгоритма, показывая ему работы реальных живописцев.
                                        При этом многие оказались не согласны с таким решением.</p>

                                    <h3><strong> </strong></h3>

                                    <p>С точки зрения дизайнера, Tesla Model P должен заметно выделяться на фоне большинства современных смартфонов.
                                        У него может оказаться металлический корпус с рублеными гранями в стиле пикапа Cybertruck, необычное оформление
                                        квадрокамеры с оптикой Zeiss и безрамочный дисплей с подэкранной камерой. Интересно, что одна из камер предназначена
                                        специально для съёмки звёздного неба.</p>

                                    <p></p>

                                </div><!-- end pp -->


                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>




{% endblock %}