{% extends 'base.html' %}
{% load static %}
{% block title %}Связатся с Нами{% endblock %}
{% block content %}



        <div class="page-title lb single-wrapper">
            <h1><i class="fa fa-envelope-open-o bg-orange"></i> Contact us <small class="hidden-xs-down hidden-sm-down">Nulla felis eros, varius sit amet volutpat non. </small></h1>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Contact</li>
                        </ol>

                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-lg-5">
                                    <h4>Немного о нас</h4>
                                    <p>Tech Portal это площадка о мобильных устройствах, которую посещает более 12 000 000 уникальных посетителей ежемесячно. А количество просмотренных страниц превышает 148 000 000 в месяц.</p>

                                    <h4>Размещение рекламы</h4>
                                    <p>Если вы хотите поместить рекламу своей продукции или услуг в интернете, вы можете воспользоваться рекламными площадями сайта Tech Portal.
                                        На наших площадях проводят успешные рекламные кампании не только крупные компании, но и небольшие фирмы, интернет-магазины и разработчики приложений.
                                        Каждое нажатие на баннер, размещенный на сайте Tech Portal  — это ваша целевая аудитория, ваша потенциальная прибыль. </p>

                                    <h4>Почему мы ?</h4>
                                    <p>1. Крупнейший в рунете тематический ресурс, посвященный мобильным устройствам, приложениям и технологиям (аудитория на январь 2020 года: 10,8 млн. человек).</p>
                                         <p>2. Мы хорошо знаем свою аудиторию и консультируем наших партнеров о наиболее эффективном способе продвижения.</p>
                                       <p> 3. Мы тщательно выбираем рекламодателей для поддержания доверия среди нашей аудитории.</p>
                                </div>
                                <div class="col-lg-7">

                                <form method="post">
                                    <form class="form-wrapper">
                                    {% csrf_token %}
                                    <form class="form-wrapper">
                                    {{ form.as_p }}
                                        <button type="submit" class="btn btn-primary">Отправить<i class="fa fa-envelope-open-o"></i></button>
                                </form>
                                     </form>
                                </div>
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>


        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="widget">
                            <div class="footer-text text-left">
                                <a href="/"><img src="{% static 'portal/images/version/tech-footer-logo.png' %}" alt="" class="img-fluid"></a>
                                <p>Tech Blog is a technology blog, we sharing marketing, news and gadget articles.</p>
                                <div class="social">
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                    <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                                </div>

                                <hr class="invis">

                                <div class="newsletter-widget text-left">
                                    <form class="form-inline">
                                        <input type="text" class="form-control" placeholder="Enter your email address">
                                        <button type="submit" class="btn btn-primary">SUBMIT</button>
                                    </form>
                                </div><!-- end newsletter -->
                            </div><!-- end footer-text -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Popular Categories</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="#">Marketing <span>(21)</span></a></li>
                                    <li><a href="#">SEO Service <span>(15)</span></a></li>
                                    <li><a href="#">Digital Agency <span>(31)</span></a></li>
                                    <li><a href="#">Make Money <span>(22)</span></a></li>
                                    <li><a href="#">Blogging <span>(66)</span></a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->

                    <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                        <div class="widget">
                            <h2 class="widget-title">Copyrights</h2>
                            <div class="link-widget">
                                <ul>
                                    <li><a href="#">About us</a></li>
                                    <li><a href="#">Advertising</a></li>
                                    <li><a href="#">Write for us</a></li>
                                    <li><a href="#">Trademark</a></li>
                                    <li><a href="#">License & Help</a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div>

                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="copyright">&copy; Tech Blog. Design: <a href="http://html.design">HTML Design</a>.</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop">Scroll to Top</div>

    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="{% static 'portal/js/jquery.min.js' %}"></script>
    <script src="{% static 'portal/js/tether.min.js' %}"></script>
    <script src="{% static 'portal/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'portal/js/custom.js' %}"></script>


<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.
4046893619357!2d27.506835315993165!3d53.92455383894424!2m3!1f0!2f0!3f0!
3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbc569216ea86f%3A0x77dbf8f25aa66649
!2z0YPQu9C40YbQsCDQotC40LzQuNGA0Y_Qt9C10LLQsCA2NSwg0JzQuNC90YHQug!5e0!3m2
!1sru!2sby!4v1609143497429!5m2!1sru!2sby" width="1950" height="450"
        frameborder="0" style="border:0;" allowfullscreen=""
        aria-hidden="false" tabindex="0"></iframe>

</body>
</html>


{% endblock %}