{% extends 'base.html' %}
{% load static %}
{% block title %}Связатся с Нами{% endblock %}
{% block content %}



        <div class="page-title lb single-wrapper">
            <h1><i class="fa fa-envelope-open-o bg-orange"></i> Contact us <small class="hidden-xs-down hidden-sm-down">Nulla felis eros, varius sit amet volutpat non. </small></h1>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item active">Contact</li>
                        </ol>

                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-lg-5">
                                    <h4>Немного о нас</h4>
                                    <p>Tech Portal это площадка о мобильных устройствах, которую посещает более 12 000 000 уникальных посетителей ежемесячно. А количество просмотренных страниц превышает 148 000 000 в месяц.</p>

                                    <h4>Размещение рекламы</h4>
                                    <p>Если вы хотите поместить рекламу своей продукции или услуг в интернете, вы можете воспользоваться рекламными площадями сайта Tech Portal.
                                        На наших площадях проводят успешные рекламные кампании не только крупные компании, но и небольшие фирмы, интернет-магазины и разработчики приложений.
                                        Каждое нажатие на баннер, размещенный на сайте Tech Portal  — это ваша целевая аудитория, ваша потенциальная прибыль. </p>

                                    <h4>Почему мы ?</h4>
                                    <p>1. Крупнейший в рунете тематический ресурс, посвященный мобильным устройствам, приложениям и технологиям (аудитория на январь 2020 года: 10,8 млн. человек).</p>
                                         <p>2. Мы хорошо знаем свою аудиторию и консультируем наших партнеров о наиболее эффективном способе продвижения.</p>
                                       <p> 3. Мы тщательно выбираем рекламодателей для поддержания доверия среди нашей аудитории.</p>
                                </div>
                                <div class="col-lg-7">

                                <form method="post">
                                    <form class="form-wrapper">
                                    {% csrf_token %}
                                    <form class="form-wrapper">
                                    {{ form.as_p }}
                                        <button type="submit" class="btn btn-primary">Отправить<i class="fa fa-envelope-open-o"></i></button>
                                </form>
                                     </form>
                                </div>
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>




<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.
4046893619357!2d27.506835315993165!3d53.92455383894424!2m3!1f0!2f0!3f0!
3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbc569216ea86f%3A0x77dbf8f25aa66649
!2z0YPQu9C40YbQsCDQotC40LzQuNGA0Y_Qt9C10LLQsCA2NSwg0JzQuNC90YHQug!5e0!3m2
!1sru!2sby!4v1609143497429!5m2!1sru!2sby" width="1950" height="450"
        frameborder="0" style="border:0;" allowfullscreen=""
        aria-hidden="false" tabindex="0"></iframe>


{% endblock %}